.contGrid{
    max-width: 750px;
    width: 100%;
}

.cont{
    max-width: 2000px;
    width: 100%;
}

.button{
    gap: 10px;
}

.text{
    color: #F8EDE2;
    font-family: Warnes, serif;
}

.title{
    color: #F8EDE2;
    font-family: Warnes, serif;
}

