.active{
    color: #F29F58;
    font-family: Warnes, serif;
    text-decoration: none;
    font-size: 28px;
}

footer{
    background: rgb(176,36,10);
    background: linear-gradient(180deg, rgba(176,36,10,1) 0%, rgba(50,1,2,1) 50%);
}

.social{
    border-left: 1px solid #F8EDE2;
}

.navLink{
    color: #F8EDE2;
    font-family: Warnes, serif;
    text-decoration: none;
    font-size: 28px;
}

.whiteText{
    color: #F8EDE2;
    font-family: Tilt Neon, sans-serif;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .social {
        border-left: none;
    }
}